@sought:registry=https://code.cnworkshop.xyz/api/v4/groups/33/-/packages/npm/
@formengine:registry=https://code.cnworkshop.xyz/api/v4/groups/33/-/packages/npm/

//code.cnworkshop.xyz/api/v4/groups/33/-/packages/npm/:_authToken="${SOUGHT_NPM_TOKEN}"
//code.cnworkshop.xyz/api/v4/projects/159/packages/npm/@sought/demobase/-/@sought/:_authToken="${SOUGHT_NPM_TOKEN}"
//code.cnworkshop.xyz/api/v4/projects/161/packages/npm/@formengine/antd-form/-/@formengine/:_authToken="${SOUGHT_NPM_TOKEN}"

